# Prerequisites
*.d
*.vsidx
*.opendb
\v17
/v17
*.d
*.vsidx
*.opendb
*.log
*.tlog
*.ipch
v17/
*.VS
.vs
/Debug/
\Debug
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/OpenGLCourseApp/v17/ipch/AutoPCH/b2827dc05d463c88/MAIN.ipch
/.vs/OpenGLCourseApp/v17
/.vs/OpenGLCourseApp/v17
